#app {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/carBG.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-red {
  background: linear-gradient(to top right, #79001c, #db3153, #79001c);
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  border: unset;
  transition: 0.5s;
}

.btn-red:hover {
  background: linear-gradient(to top right, #acacac, #ffffff, #b9afaf);
  box-shadow: 1px 1px 1px 1px rgb(5, 5, 5);
}

.btn-white {
  background: linear-gradient(to top right, #919090, #fffffff2, #a29e9e);
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  border: unset;
  transition: 0.5s;
}

.btn-white:hover {
  color: white;
  background: linear-gradient(to top right, #181818, #646060, black);
  box-shadow: 1px 1px 1px 1px rgb(5, 5, 5);
}

.slogan {
  height: 20vh;
  width: 100%;
  position: absolute;
  top: calc(40%);
  font-family: "Fugaz One", serif;
  font-weight: 600;
  text-shadow: 10px 10px 10px #181818;
}


.h-100 {
    height: 100vh;
}

.font-FugazOne {
  font-family: "Fugaz One", serif;
}