#app {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/carBG.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-red {
  background: linear-gradient(
    to top right,
    #79001c,
    #db3153,
    #79001c
  ) !important;
}

.btn-red {
  background: linear-gradient(to top right, #79001c, #db3153, #79001c);
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  border: unset;
  transition: 0.5s !important;
}

.btn-red:hover {
  background: linear-gradient(to left, #000, #000);
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  color: white;
  box-shadow: 1px 1px 10px 7px rgb(207, 197, 199);
}

#adminTxt {
  transition: 0.5s !important;
  color: white;
}

.btn-red:hover > span {
  color: #db3153 !important;
}

.btn-white {
  background: linear-gradient(to left, #e8e7e7, #fffffff2, #e8e7e7);
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
  border: unset;
  transition: 0.5s;
}

.btn-white:hover {
  color: white;
  background: linear-gradient(to top right, #181818, #2f2f2f, black);
  box-shadow: 1px 1px 1px 1px rgb(5, 5, 5);
}

.slogan1 {
  font-size: calc(1.625rem + 3.5vw);
  font-family: "Fugaz One", serif;
  font-weight: 600;
  text-shadow: 10px 10px 10px #181818;
}

.slogan2 {
  font-size: calc(1rem + 1.5vw);
  font-family: "Fugaz One", serif;
  font-weight: 300;
  text-shadow: 10px 10px 10px #181818;
}

.h-100 {
  height: 100vh;
}

.font-FugazOne {
  font-family: "Fugaz One", serif;
}
