body {
  background: linear-gradient(
    239deg,
    rgb(245, 181, 196) 0%,
    #6d0b31db 50%,
    rgb(227, 144, 164) 100%
  );
}

button {
  text-wrap: nowrap !important;
}

#map {
  height: 500px;
  width: 100%;
  z-index: 0;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 7px rgba(153, 153, 153, 0.426);
}

.z-100 {
  z-index: 100 !important;
}

#card {
  background-color: #858585;
  color: white;
  width: 50%;
  position: absolute;
  top: 50px;
  left: 25%;
  z-index: 1;
}

@media screen AND (max-width: 1000px) {
  #card {
    width: 50%;
    top: 50px;
    left: 25%;
  }
}

@media screen AND (max-width: 820px) {
  #card {
    width: 80%;
    top: 50px;
    left: 10%;
  }
}

@media screen AND (max-width: 600px) {
  .slogan1 {
    font-size: large !important;
    font-weight: 300 !important;
  }

  .slogan2 {
    font-size: medium !important;
    font-family: "Fugaz One", serif;
    font-weight: 100 !important;
  }

  #header {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;
    padding-top: 0px !important;
    gap: 5px !important;
  }

  #header .authBtns {
    width: 100% !important;
    justify-content: center !important;
  }

  #header .authBtns button {
    width: 40%;
  }

  #header .logo img {
    height: 100% !important;
    width: 120px !important;
  }
}

@media screen AND (max-width: 500px) {
  #card {
    width: 90%;
    top: 50px;
    left: 5%;
    padding: 10px !important;
  }

  #card h2 {
    font-size: large;
  }

  nav {
    padding: 20px 0px !important;
    flex-direction: column;
    height: 30vh !important;
  }

  .btn-red {
    font-size: smaller;
    text-align: center;
  }
}

.slideBar {
  position: fixed;
  top: 180px;
  bottom: 0%;
  border-left: none;
  border-top-right-radius: 15px;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 7px 7px 7px rgba(0, 0, 0, 0.407);
  z-index: 100 !important;
}

.slideBarBtn span {
  border-radius: 50px;
  transition: 0.3s;
}

.slideBarBtn:hover > span {
  background-color: rgb(26, 26, 26) !important;
  transform: scale(1.1);
}

.slideBarBtn:hover > span:nth-child(2) {
  background-color: rgb(26, 26, 26) !important;
  transform: scale(1.3);
}

.slideBar p:nth-child(1) {
  border-top-right-radius: 15px;
}

.slideBar p {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid #ffffff4c;
  transition: 0.3s;
  text-decoration: none;
}

.slideBar p:hover {
  background-color: #c72f3e;
  font-size: larger;
}

.logOutIcon {
  transition: 0.3s;
}

.logOutIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.switchUser {
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: x-small;
  color: white;
  font-weight: bold;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  transition: 0.5s;
  padding: 10px 0px;
}

.switchUser:hover {
  color: black;
  text-decoration: none;
}

.Supprimer:hover {
  text-decoration: underline;
}

.carImageTD {
  width: 70%;
  position: absolute;
  top: -250%;
  left: 0px;
  box-shadow: 0px 0px 10px 0px;
}

.bgc {
  background: linear-gradient(
    239deg,
    rgb(255, 179, 179) 0%,
    rgb(250, 239, 241) 50%,
    rgb(255, 184, 187) 100%
  );
}

.diagonal-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top right, #79001c, #db3153, #79001c);
  overflow: hidden;
}

.diagonal-background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #e8e7e7, #fffffff2, #e8e7e7);
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.main {
  border: 5px solid;
  border-color: #520d19 !important;
  border-radius: 15px;
  padding-bottom: 100px;
  min-height: 80vh;
  background: white;
}
